<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои чаты</title>
</head>
<body>

    <h1>Мои чаты</h1>

    {% for chat in chats %}

        <div>

            <!-- Аватар пользователя -->
            {% if chat.user.profile_user.avatar %}

                <img
                    src="{{ chat.user.profile_user.avatar.url }}"
                    width="70"
                    height="70"
                    alt="Аватар"
                >

            {% else %}

                <div>
                    Аватара нет
                </div>

            {% endif %}


            <!-- Имя пользователя -->
            <h3>
                {{ chat.user.username }}
            </h3>

            {% if chat.unread_count > 0 %}
    <p>
        Непрочитанных сообщений: {{ chat.unread_count }}
    </p>
{% endif %}

            <!-- Объявление -->
            <p>
                Объявление:
                <strong>{{ chat.post.title }}</strong>
            </p>


            <!-- Последнее сообщение -->
            <p>
                {{ chat.last_message.text }}
            </p>


            <!-- Время -->
            <small>
                {{ chat.last_message.cr_at|date:"d.m.Y H:i" }}
            </small>


            <br><br>


            <!-- Открыть чат -->
            <a href="{% url 'chat' chat.post.pk chat.user.pk %}">
                Открыть чат
            </a>

        </div>

        <hr>

    {% empty %}

        <p>
            У вас пока нет сообщений.
        </p>

    {% endfor %}

</body>
</html>