<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>

    <h1>{{ post.title }}</h1>

    <p>
        Категория: {{ post.category.name }}
    </p>

    <p>
        Цена: {{ post.price }}
    </p>

    <p>
        Описание: {{ post.description }}
    </p>

    {% if post.oblojka %}
        <img
            src="{{ post.oblojka.url }}"
            width="300"
            alt="{{ post.title }}"
        >
    {% endif %}

    {% if post.video %}
        <br><br>

        <video width="500" controls>
            <source src="{{ post.video.url }}">
        </video>
    {% endif %}

    <p>
        Опубликовано:
        {{ post.cr_at|date:"d.m.Y H:i" }}
    </p>

    <p>
    👁 {{ post.views }} просмотров
</p>

    <p>
    Автор:
    <a href="{% url 'public_profile' post.owner.pk %}">
        {{ post.owner.username }}
    </a>
</p>
{% if user.is_authenticated %}
    <form method="post" action="{% url 'favorite' post.pk %}">
        {% csrf_token %}

        {% if is_favorite %}
            <button type="submit">
                💔 Убрать из избранного
            </button>
        {% else %}
            <button type="submit">
                ❤️ Добавить в избранное
            </button>
        {% endif %}
    </form>
{% endif %}
<a href="tel:{{ post.owner.profile_user.phone }}">
    <button type="button">
        📞 Позвонить
    </button>
</a>

    <hr>

    {% if user == post.owner %}

        <a href="{% url 'post_delete' post.pk %}">
            <button type="button">
                Delete
            </button>
        </a>

    {% endif %}

    {% if user.is_authenticated and user != post.owner %}
    <a href="{% url 'chat' post.pk post.owner.pk %}">
    <button type="button">💬 Написать продавцу</button>
</a>
{% endif %}


    <br><br>

    <a href="{% url 'home' %}">
        <button type="button">
            Home
        </button>
    </a>

</body>
</html>